<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>appShaarm2013</name>

<description>
A simple PhoneGap Build application.
</description>

<author href="http://www.giacomorabaglia.com" email="rabax@hotmail.com">
Giacomo Rabaglia
</author>
<icon src="icon.png" />
</widget>
